.stepsSection {
  padding: 20px 20px 0 20px;
  border-radius: 0px; 
  background-color: white;
  text-align: center;
  color: #171A1FFF
}

.stepsSection h2 {
  margin-bottom: 40px;
}

.stepsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.step {
  max-width: 250px;
  padding: 20px;
}

.step h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.step p {
margin-top: 15px;
  font-size: 14px;
  color: #555;
}

.icon {
  font-size: 32px;
}